<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="count">
      <th mat-header-cell *matHeaderCellDef> Rate (%) </th>
      <td mat-cell *matCellDef="let element"> {{element.count}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>